body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.text-color{
    font-size: 50px;
    border-left: 5px solid orangered;
}
.orange-color{
    color:orangered;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 2rem;
    margin: 5%;
}
.half-width img{
    width: 100%;
    border-radius: 5px;
}
.explore-btn{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: orangered;
}
.explore-btn:hover{
    color: white;
    cursor: pointer;
}
.tittle{
    color: yellow;
    margin: auto;
    text-align: center;
}
.all-mission{
    background-image: none;
    border-radius: 5px;
    display: flex;
    width: 100px;
}
.div-img{
    width: 100%;
    border-radius: 5px;
}
.Mission{
    background-color: whitesmoke;
    margin: 10px 20px;
    padding: 5px 10px;
    border-radius: 10px;
}
.Vission{
    background-color: palevioletred;
    margin: 10px 20px;
    padding: 5px 10px;
    border-radius: 5px;
}
.goals{
    background-color: peachpuff;
    margin: 10px 20px;
    padding: 5px 10px;
    border-radius: 5px;
}
.documentation-btn{
    padding: 10px 30px;
    border-radius: 5px;
    background-color: orangered;
}
    

.Footer{
    background-color: black;
    padding: 30px 0px ;
    color: white;
    text-align: center;
}
.year{
    color: yellow;
}
.footer-content{
    margin-top: 0;
}
.footer-content{
    text-align: center;
    background-color: rgb(72, 72, 134);
}