body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.text-color{
    font-size: 50px;
    border-left: 5px solid orangered;
}
    
.orange-color{
    color:orangered;
}
section{
    display:flex;
}
.half-width{
    width:50%;
    padding: 10%;
}
.half-width img{
    width:100%;
}

.explore-btn{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: orangered;
    
}
.explore-btn:hover{
 
    color: white;
    cursor: pointer;
}
.tittle{
    color: yellow;
    margin-top: 0%;
}
.second-section{
    text-align: center;}
.Mission{
    width: 5px;
}
.div-img{
    width: 50%;
}

